.controls {
  background-color: #000;
  margin-top: 8px;
  margin-left: 5%;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.3);
  font-family: Roboto;
  font-size: 15px;
  font-weight: bold;
  
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  color:white;
  width: 250px;
}

.controls:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

.row{background-color: lightblue;}