.controls {
  background-color: #000;
  margin: 5px;
  border: 1px solid transparent;
  border-radius: 3px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 5px -5px 5px rgba(0, 0, 0, 0.3);
  font-family: Roboto;
  font-size: 16px;
  font-weight: bold;
  lineHeight: 30px;
  text-overflow: ellipsis;
  color: white;
}

.controls:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

.row {
  background-color: #ADD8E6;
}
